body { 
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Header style start  */

.header-box {
  height: 200px;
  width: auto;
  background-color: rgb(86, 224, 224);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  position: sticky;
  top:0;
  padding:10px;
}

.header-icon img {
  height: 120px;
  width: 120px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 50px;
  margin-top: 30px;
}

.header-links {
  height: 40px;
  width: 500px;
  margin-top: 80px;
  margin-right: 40px;
  font-size: 25px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

/* Header style end */


/* Main content style start */

.content-1-box {
  height: 500px;
  width: auto;
  display: flex;
  margin-top: 10px;
}

.content-1-img img {
  height: 460px;
  width: 700px;
  border-radius: 8px;
}

.content-1-text {
  padding: 10px;
}

.content-2-parent {
  height: 500px;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.content-2-parent img {
  height: var(--img-height);
  width: var(--img-width);
  margin-top: 30px;
  border-radius: 8px;
}

.content-3-parent {
  height: 500px;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.content-3-parent img {
  height: var(--img-height);
  width: var(--img-width);
  margin-top: 150px;
  border-radius: 8px;
}

/* Main content style end */


/* Footer style start */

.footer-parent {
  height: 300px;
  width: auto;
  background-color: rgba(0, 153, 255, 0.672);
  margin-top: 330px;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  text-justify: inter-word;
}

/* Footer style end */
